<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Platzi Fake Store API">
    <test thread-count="5" name="ProductTests">
        <classes>
            <class name="tests.ProductsTest"/>
            <class name="tests.CategoriesTest"/>
            <class name="tests.LocationsTest"/>
            <class name="tests.FilesTest"/>
        </classes>
    </test>

    <test name="UserTests">
        <classes>
            <class name="tests.UsersTest"/>
            <class name="tests.AuthTest"/>
        </classes>
    </test>
</suite>